{% extends "layout.html" %} 

{% block body %}

<h1>Text to speach</h1>

<h2>Inserisci la frase che vuoi pronunciare</h2>

<form class="input" id="voice-form" method="post">
    <div class="field">
        <label for="speech">Type Something</label>
        <input type="text" name="speech" id="speech" required />
    </div>
    <div class="field">
        <label for="voices">Choose a Voice Assistant</label>
          <select name="voices" id="voices">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
          </select>
    </div>
  <button>
        Say it!
  </button>
</form>

{% endblock %}
